



    <h1>catalog works!</h1>
  <p>some text</p>
  <ul class='myul'>
        <li id='pickme'>line 1</li>
        <li>line 2</li>
        <li>line 3</li>
        <li>line 4</li>
    </ul>

    <ul class='myul'>
        <li id='pickme'>document.getElementById()</li>
        <li>document.getElementByClassName()</li>
        <li>document.getElementsByTagName()</li>
        <li>document.querySelector()</li>
        <li>document.querySelectorAll()</li>
    </ul>

    <p>
        <br>myvariable.style.color (Many CSS options)
        <br>myvariable.textContent
        <br>myvariable.innerHTML
        <br>myvariable.getAttribute()
        <br>myvariable.setAttribute()

    </p>

