<header>
  <nav> 
    <app-navbar></app-navbar>
    <div routerLinkActive="active-link"><a routerLink="home">Home</a></div>
    <div routerLinkActive="active-link"><a routerLink="movies">Movies</a></div>
    <div routerLinkActive="active-link"><a routerLink="about">About</a></div>
    <div routerLinkActive="active-link"><a routerLink="account">Account</a></div>  
    <div routerLinkActive="active-link"><a routerLink="pivot">Pivot</a></div>    

    <div class="seperator"></div>

    <span class="label">test</span>
  </nav>
</header>

  <section class="container">
    <form id="my-form">
      <h1>Add User</h1>
      <div class="msg"></div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email">
      </div>
      <input class="btn" type="submit" value="Submit">
    </form>

    <ul id="users"></ul>

    <!-- <ul class="items">
      <li class="item">Item 1</li>
      <li class="item">Item 2</li>
      <li class="item">Item 3</li>
    </ul> -->
  </section>
  

  <script src="app.component.ts"></script>
