<header>
  
  <nav> 
    <app-navbar></app-navbar>
    <div routerLinkActive="active-link"><a routerLink="filters">Каган фильтр</a></div>  
    <div routerLinkActive="active-link"><a routerLink="home">Pегистрация</a></div>
    <div routerLinkActive="active-link"><a routerLink="item-lister">Управление</a></div>
    <div routerLinkActive="active-link"><a routerLink="catalog">Каталог</a></div>
    
    <div routerLinkActive="active-link"><a routerLink="pivot">Pivot</a></div>    

    <div class="seperator"></div>

    <span class="label">test</span>
  </nav>
 
</header>

<router-outlet>
    
</router-outlet>

